#logo {
    height: 200px;
    width: 200px;
}

#bio {
    padding: 50px;
}

#questionnaire {
    padding: 50px;
}

#comments {
    padding: 50px;
}

#attribution {
    text-align: center;
}

body {
    background-image: url('../images/pexels-fauxels-3184339.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    opacity: 0.89;
}

#jumbotron {
    opacity: 0.89;
}